
:root {
    --border-radius: 8px;
    --bk-color: rgba(50, 53, 85, 0.25);
    --window-marin: 10px;

    --border-radius-elem: 6px;
    --color-elem: rgb(179, 179, 226);
    --bk-color-elem: rgba(43, 46, 81, 0.33);
    --bk-color-elem-2: rgba(31, 34, 66, 0.6);

    /* drfine this in .yaml config */
    --color-focus-border-1: rgba(42, 206, 201, 1);
    --color-focus-border-2: rgba(57, 212, 109, 1);
}


.base {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    border: none;
    padding: unset;
    margin: unset;
}


.main {
    border-radius: var(--border-radius);
    border-color: var(--bk-color);
    background-color: var(--bk-color);
}

.left {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    background-color: var(--bk-color);
    margin-right: var(--window-marin);
}

.right {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: var(--bk-color);
    margin-left: var(--window-marin);
}

.top {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    background-color: var(--bk-color);
    margin-bottom: var(--window-marin);
}

.bottom {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: var(--bk-color);
    margin-top: var(--window-marin);
}

.element {
    color: var(--color-elem);
    font-weight: 600;

    border-width: 1px;
    border-style: solid;
    border-radius: var(--border-radius-elem);
    background: none;
    background-color: var(--bk-color-elem);
    padding: 0.5em;
    margin: 5px;
}
.element:hover {
    background-color: var(--bk-color-elem-2);
}

.element-icon {
    color: var(--color-elem);
}
